/proyectomakita/nbproject/private/
/GUIFormExamples/nbproject/private/
/PaintApp/nbproject/private/
/PaintApp/Paint/nbproject/private/
/PaintApp/ColorChooser/nbproject/private/
/makita/nbproject/private/
/makita/build/